<!DOCTYPE html>

<title>Edit Point</title>

{% block body %}
    <h1>Edit Point</h1>

    {{ include('point/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_point_index') }}">back to list</a>

    {{ include('point/_delete_form.html.twig') }}
{% endblock %}
